
        #menu {
            background-color: black;
        }

        #menulist {
            display: inline;
            margin: 0px;
            padding: 0px;
        }

        #menulist li {
            display: inline-block;
            font-size: 20px;
            padding: 5px;
        }

        #menulist li:hover {
            background: #DEEFFF;
        }

        #menulist li:hover ul {
            display: block;
        }

        #menulist2 {
            position: absolute;
            width: 150px;
            display: none;
        }

        #menulist2 li {
            background: #FFEFFF;
            display: block;
        }

        #menulist2 li a {
            display: block !important;
        }

        #menulist2 li:hover {
            background: #EDDFFF;
        } 
   .container {
      position: relative;
      width: 50%;
    }

    .image {
      opacity: 1;
      display: block;
      width: 50%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 15%;
      left: 15%;
      transform: translate(-35%, 60%);
      -ms-transform: translate(-50%, -50%);
    }

    .container:hover .image {
      opacity: 0.3;
    }

    .container:hover .middle {
      opacity: 1;
    }

    .text {
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }

    .topleft {
      position: absolute;
      top: 10px;
      left: 270px;
      font-size: 35px;
      white-space: nowrap ;
      text-shadow: 2px 2px red; 
    }
    .h {
        position: absolute;
        top: 60px;
        left: 280px;
        font-size: 15px;
        
    }
    .e {
        position: absolute;
        top: 120px;
        left: 280px;
        font-size: 15px;

    }
    .l {
        background-color: black;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px 2px;
        cursor: pointer;
        position: absolute;
        top: 150px;
        left: 275px;
    }
    .ishaan {
        position: absolute;
        top: 7px;
        left: 270px;
        font-size: 35px;
        white-space: nowrap ;
        text-shadow: 2px 2px red;
    }
    .hi {
      text-shadow: 2px 2px 8px black;
    }
    hr {
      border-top: 1px dashed black;
    }
    hr.new5 {
      border: 10px solid red;
      border-radius: 0px;
    }
